apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: adot-collector
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/rhprasad0/aws-devops-lab
    targetRevision: main
    path: k8s/adot
  destination:
    server: https://kubernetes.default.svc
    namespace: opentelemetry-operator-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

